/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    margin-top: 10px !important;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-color {
    height: 68px !important;
}